body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 15px;
    padding: 15px;
    background-color: bisque;
}
h1{
    background-color: rgb(139, 209, 242);
    color: azure;
    padding: auto;
    font-size: 400%;
    text-align: center;
    border-radius: 10px;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    font-size: larger;
  }
  .tab button {
    background-color: inherit;
    float: left;
    border:none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  .tab button:hover {
    background-color: rgb(178, 247, 208);
  }

  .tab button.active {
    background-color: rgb(241, 23, 23);
  }
.logo img {
    margin: auto;
      float: none;
      display: block;
}
.logo img {
    float: center;
    border-radius: 180px;
    height:270px;
    width:270;
  }
.pen img{
    float: center;
    border-radius: 180px;
    height:170px;
    width:170;
}
.pen {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0
  }
  .pen::after {
    content: "";
    clear: both;
    display: table;
  } 
  .pen img {
    float: left;
    margin-right: 20px;
   /* border-radius: 50%;*/
  }
  .parle-g::after {
    content: "";
    display: table;
    clear: both;
    
  }
  .pen {
    float: left;
    width: 660px;
    padding: 25px;
    border-color: rgb(17, 18, 18);
  }
